# Note

This is the second part of notebook

## Steps
1. Loading New data this steps also include basic steps such as dropping coluns, groupby, seeing unique values and length of data.
2. Popularity based : Here I first split data for test and train. Then applied grouby on productid. I also calculated number of ppeople who have rated the product. After that I applied a formula ((number of rating for a products/total number of ratings)*rating for that product*1000) to get actual rating so that most number of people who have rated the movie highest comes first and then finally using test set I am recommending the movie
3. Collaborative based : Here I applied split of data first then on both sets I made pivot table because also takes in that format only after hat I have used svds for recommendations and at the end I have calculated RMSE scores for both test set and train set

In [113]:
#import libs
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import random
from scipy.sparse.linalg import svds

In [114]:
#import data
df=pd.read_csv('short_data2.csv')
#df=df.reset_index()

In [115]:
#See if data is loaded properly
df.head()

   Unnamed: 0          userId   productId  Rating
0           0   AT09WGFUM934H  0594481813     3.0
1           1  A32HSNCNPRUMTR  0970407998     1.0
2           2  A17HMM1M7T9PJ1  0970407998     4.0
3           3  A3CLWR1UUZT6TG  0972683275     5.0
4           4  A3TAS1AG6FMBQW  0972683275     5.0

In [116]:
#Shape of data 
df.shape

(122171, 4)

In [117]:
#Drop unnamed column

df=df.drop('Unnamed: 0',axis=1)
#df=df.drop('index',axis=1)

In [118]:
df.head(10)

           userId   productId  Rating
0   AT09WGFUM934H  0594481813     3.0
1  A32HSNCNPRUMTR  0970407998     1.0
2  A17HMM1M7T9PJ1  0970407998     4.0
3  A3CLWR1UUZT6TG  0972683275     5.0
4  A3TAS1AG6FMBQW  0972683275     5.0
5  A25RTRAPQAJBDJ  0972683275     5.0
6  A3LDPF5FMB782Z  1400501466     5.0
7  A1A5KUIIIHFF4U  1400501466     1.0
8  A2XIOXRRYX0KZY  1400501466     3.0
9   AW3LX47IHPFRL  1400501466     5.0

In [119]:
#Cross check step to check if no of users matches

users = df['userId'].unique()
len(users)

1466

In [120]:
#Cross check step to check if no of product matches

prod = df['productId'].unique()
len(prod)

47155

In [121]:
print(len(df['productId']))
print(len(df['userId']))

122171
122171

# Popluarity based

In [122]:
#Split data in train and test
train_data, test_data = train_test_split(df, test_size = 0.30, random_state=1)

In [123]:
#Trainset head
train_data.head()

                userId   productId  Rating
31487    AFICF7DKHTQ87  B0018ZDGAC     4.0
90460   A2XRMQA6PJ5ZJ8  B007R5YDYA     4.0
73199   A3D0UM4ZD2CMAW  B004XUINGQ     5.0
64179   A20L63B48RPSOH  B0046RE60I     4.0
111652  A3OA4DV4L81N1D  B00DIEQ3E2     5.0

In [124]:
#Testset head
test_data.head()

                userId   productId  Rating
70378   A2HRHF83I3NDGT  B004PJPMBO     5.0
103168  A2F7CSE6KT7NI4  B00A7GPVPQ     4.0
14349    AM0QLU79O05JR  B000BD7QUS     5.0
48454   A30UP2KKD5IQEP  B002SQK2F2     3.0
44306    A64LEAZ2QF8L2  B002GEQDK4     5.0

In [125]:
#Shape of test data and train data
print(train_data.shape)
print(test_data.shape)

(85519, 3)
(36652, 3)

In [126]:
#to get index location of test set

index_test=test_data.userId.index.tolist()
#print(index_test)

In [127]:
#To test if I get user Id back
print(df.loc[44306].userId)

A64LEAZ2QF8L2

In [128]:
#Groupby productid and counting avg rating for that product of test data
train_data.groupby('productId')['Rating'].mean().head()

productId
0594481813    3.0
0970407998    4.0
0972683275    5.0
1400501466    3.0
1400501520    5.0
Name: Rating, dtype: float64

In [129]:
#Groupby productid and counting avg rating for that product and sort by decending order of ratings
train_data.groupby('productId')['Rating'].mean().sort_values(ascending=False).head()

productId
B00LKG1MC8    5.0
B002PJ7PYS    5.0
B002PK1COG    5.0
B002PLQ8WG    5.0
B002PNEDFS    5.0
Name: Rating, dtype: float64

In [130]:
#Groupby productid and counting number of rating of that product
train_data.groupby('productId')['Rating'].count().sort_values(ascending=False).head()

productId
B0088CJT4U    143
B003ES5ZUU    127
B000N99BBC    120
B007WTAJTO    112
B00829TIEK    110
Name: Rating, dtype: int64

In [131]:
#Creating dataframe for avg rating for a praticular products 

ratings_mean_count_train = pd.DataFrame(train_data.groupby('productId')['Rating'].mean())

In [132]:
#Creating dataframe for number of ratings that user have given to a praticular products

ratings_mean_count_train['rating_counts'] = pd.DataFrame(train_data.groupby('productId')['Rating'].count())

In [133]:
#Cross check step

ratings_mean_count_train.head()

            Rating  rating_counts
productId
0594481813     3.0              1
0970407998     4.0              1
0972683275     5.0              2
1400501466     3.0              2
1400501520     5.0              1

#Applying formula and creating new column

ratings_mean_count_train['count_ratings']=(((ratings_mean_count_train['rating_counts']/len(users))*1000)*ratings_mean_count_train['Rating'])/100

In [134]:
#Applying formula and creating new column

print(ratings_mean_count_train['rating_counts'].sum(axis=0,skipna=True))
ratings_mean_count_train['count_ratings']=((ratings_mean_count_train['rating_counts']/ratings_mean_count_train['rating_counts'].sum(axis=0,skipna=True))*ratings_mean_count_train['Rating'])*1000

85519

In [135]:
#Sorting based on new column

ratings_mean_count_train.sort_values(by=['count_ratings','Rating'],ascending=False,inplace=True)
ratings_mean_count_train.head()

              Rating  rating_counts  count_ratings
productId
B003ES5ZUU  4.866142            127       7.226464
B0088CJT4U  4.230769            143       7.074451
B000N99BBC  4.750000            120       6.665186
B007WTAJTO  4.758929            112       6.232533
B00829TIEK  4.436364            110       5.706334

In [136]:
popularity_recommendations=ratings_mean_count_train[ratings_mean_count_train['count_ratings']>5.0].head(5)

popularity_recommendations.sort_values(by=['Rating'],ascending=False,inplace=True)
print(popularity_recommendations)

              Rating  rating_counts  count_ratings
productId
B003ES5ZUU  4.866142            127       7.226464
B007WTAJTO  4.758929            112       6.232533
B000N99BBC  4.750000            120       6.665186
B00829TIEK  4.436364            110       5.706334
B0088CJT4U  4.230769            143       7.074451

In [137]:
#Recommendations
print("This will be recommended to new users")
for i,j in enumerate(popularity_recommendations.index):
    print(i+1," ",j)

This will be recommended to new users
1   B003ES5ZUU
2   B007WTAJTO
3   B000N99BBC
4   B00829TIEK
5   B0088CJT4U

In [138]:
#reseting index so that it starts from 0

test_data=test_data.reset_index()
test_data=test_data.drop('index',axis=1)
test_data.head()

           userId   productId  Rating
0  A2HRHF83I3NDGT  B004PJPMBO     5.0
1  A2F7CSE6KT7NI4  B00A7GPVPQ     4.0
2   AM0QLU79O05JR  B000BD7QUS     5.0
3  A30UP2KKD5IQEP  B002SQK2F2     3.0
4   A64LEAZ2QF8L2  B002GEQDK4     5.0

In [139]:
# Use popularity based recommender model to make predictions
def recommend(user_id):     
    user_recommendations = popularity_recommendations 
          
    #Add user_id column for which the recommendations are being generated 
    user_recommendations['userID_idx'] = user_id 
      
    #Bring user_id column to the front 
    cols = user_recommendations.columns.tolist() 
    
    cols = cols[-1:] + cols[:-1] 
    user_recommendations = user_recommendations[cols] 
    user_recommendations['userId']=test_data.iloc[user_id].userId
    return user_recommendations

In [140]:
#Here test set is used to see the output

number=[2,13,4]
print(number)

for i in number:
    print("Here is the recommendation for the userId: %d\n" %(i))
    print(recommend(i))    
    print("\n") 
    
#For test setindex_test[ value ] here value must be in slicing or continous format. Just dont use single number for value
    
#Here you just have to replave index_test value with some number less than 24435
#It will auto matically give the actual user id of test set which is at the the last

[2, 13, 4]
Here is the recommendation for the userId: 2

            userID_idx    Rating  rating_counts  count_ratings         userId
productId
B003ES5ZUU           2  4.866142            127       7.226464  AM0QLU79O05JR
B007WTAJTO           2  4.758929            112       6.232533  AM0QLU79O05JR
B000N99BBC           2  4.750000            120       6.665186  AM0QLU79O05JR
B00829TIEK           2  4.436364            110       5.706334  AM0QLU79O05JR
B0088CJT4U           2  4.230769            143       7.074451  AM0QLU79O05JR


Here is the recommendation for the userId: 13

            userID_idx    Rating  rating_counts  count_ratings          userId
productId
B003ES5ZUU          13  4.866142            127       7.226464  A2W9GX82SLKROQ
B007WTAJTO          13  4.758929            112       6.232533  A2W9GX82SLKROQ
B000N99BBC          13  4.750000            120       6.665186  A2W9GX82SLKROQ
B00829TIEK          13  4.436364            110       5.706334  A2W9GX82SLKROQ
B0088CJT4U          13  4.230769            143       7.074451  A2W9GX82SLKROQ


Here is the recommendation for the userId: 4

            userID_idx    Rating  rating_counts  count_ratings         userId
productId
B003ES5ZUU           4  4.866142            127       7.226464  A64LEAZ2QF8L2
B007WTAJTO           4  4.758929            112       6.232533  A64LEAZ2QF8L2
B000N99BBC           4  4.750000            120       6.665186  A64LEAZ2QF8L2
B00829TIEK           4  4.436364            110       5.706334  A64LEAZ2QF8L2
B0088CJT4U           4  4.230769            143       7.074451  A64LEAZ2QF8L2

C:\Users\sarth\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [142]:
#To check if the value you entered gives actual userid
print(test_data.loc[4].userId)


#Note in the index you have to enter userID not userId. This will return original userId

A64LEAZ2QF8L2

### Conclusion

***In popularity based the recommendations are same irrespective of the users. SO it is better for tthe first time users or new product. This is non-personalised therefore is not best used recommendation system but for new-comers its is best and much more preffered than other recommenation systems. Also here we are not predicting rating we are just seeing top rating that users have give and recommending products based on popularity of that product which can be different product as well***

# Collaborative filtering

In [143]:
#Split data in train and test
train_data, test_data = train_test_split(df, test_size = 0.30, random_state=1)

In [144]:
#Creating pivot table

#User-based Collaborative Filtering
# Matrix with row per 'user' and column per 'item' 
pivot_df = train_data.pivot(index = 'userId', columns ='productId', values = 'Rating').fillna(0)
pivot_df.shape
pivot_df.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L2P3TRS,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8
userId,,,,,,,,,,,,,,,,,,,,,
A100UD67AHFODS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A100WO06OQR8BQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A105S56ODHGJEK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A105TOJ6LTVMBG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A10AFVU66A79Y1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
#info about pivot table
print('Shape of train pivot table: ', pivot_df.shape)
given_num_of_ratings = np.count_nonzero(pivot_df)
print('given_num_of_ratings = ', given_num_of_ratings)
possible_num_of_ratings = pivot_df.shape[0] * pivot_df.shape[1]
print('possible_num_of_ratings = ', possible_num_of_ratings)
density = (given_num_of_ratings/possible_num_of_ratings)
density *= 100
print ('density: {:4.2f}%'.format(density))

Shape of train pivot table:  (1466, 37259)
given_num_of_ratings =  85519
possible_num_of_ratings =  54621694
density: 0.16%

In [146]:
#pivot table for test data

pivot_df_test = test_data.pivot(index = 'userId', columns ='productId', values = 'Rating').fillna(0)
pivot_df_test.shape
pivot_df_test.head()

productId,0970407998,0972683275,1400501466,1400501776,1400532655,1400599997,1400698987,1685560148,787988002X,9043413585,...,B00L21HC7A,B00L2442H0,B00L26YDA4,B00L3YHF6O,B00L43HAY6,B00L5YZCCG,B00L8QCVL6,B00LA6T0LS,B00LBZ1Z7K,B00LGQ6HL8
userId,,,,,,,,,,,,,,,,,,,,,
A100UD67AHFODS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A100WO06OQR8BQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A105S56ODHGJEK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A105TOJ6LTVMBG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A10AFVU66A79Y1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [147]:
#info about pivot table
print('Shape of test pivot table: ', pivot_df_test.shape)

given_num_of_ratings = np.count_nonzero(pivot_df_test)
print('given_num_of_ratings = ', given_num_of_ratings)
possible_num_of_ratings = pivot_df_test.shape[0] * pivot_df_test.shape[1]
print('possible_num_of_ratings = ', possible_num_of_ratings)
density = (given_num_of_ratings/possible_num_of_ratings)
density *= 100
print ('density: {:4.2f}%'.format(density))

Shape of test pivot table:  (1466, 21033)
given_num_of_ratings =  36652
possible_num_of_ratings =  30834378
density: 0.12%

In [148]:
#Creating a dummy column that will be used as an index later on

pivot_df['user_index'] = np.arange(0, pivot_df.shape[0], 1)
pivot_df.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8,user_index
userId,,,,,,,,,,,,,,,,,,,,,
A100UD67AHFODS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
A100WO06OQR8BQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
A105S56ODHGJEK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
A105TOJ6LTVMBG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
A10AFVU66A79Y1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [149]:
#Creating a dummy column that will be used as an index later on 

pivot_df_test['user_index'] = np.arange(0, pivot_df_test.shape[0], 1)
pivot_df_test.head()

productId,0970407998,0972683275,1400501466,1400501776,1400532655,1400599997,1400698987,1685560148,787988002X,9043413585,...,B00L2442H0,B00L26YDA4,B00L3YHF6O,B00L43HAY6,B00L5YZCCG,B00L8QCVL6,B00LA6T0LS,B00LBZ1Z7K,B00LGQ6HL8,user_index
userId,,,,,,,,,,,,,,,,,,,,,
A100UD67AHFODS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
A100WO06OQR8BQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
A105S56ODHGJEK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
A105TOJ6LTVMBG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
A10AFVU66A79Y1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [150]:
#Here index is being set as user_index for train data

pivot_df.set_index(['user_index'], inplace=True)

# Actual ratings given by users
pivot_df.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L2P3TRS,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8
user_index,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [151]:
#Here index is being set as user_index for test data

pivot_df_test.set_index(['user_index'], inplace=True)

# Actual ratings given by users
pivot_df_test.head()

productId,0970407998,0972683275,1400501466,1400501776,1400532655,1400599997,1400698987,1685560148,787988002X,9043413585,...,B00L21HC7A,B00L2442H0,B00L26YDA4,B00L3YHF6O,B00L43HAY6,B00L5YZCCG,B00L8QCVL6,B00LA6T0LS,B00LBZ1Z7K,B00LGQ6HL8
user_index,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [152]:
#shape of train pivot table
print(pivot_df.shape)

(1466, 37259)

In [153]:
#Collaborative filteing user user basedj8l

# Singular Value Decomposition
U, sigma, Vt = svds(pivot_df, k = 10)
# Construct diagonal array in SVD
sigma = np.diag(sigma)

In [154]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 

# Predicted ratings 
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = pivot_df.columns)
preds_df.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L2P3TRS,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8
0,0.003977,0.001258,-0.000205,0.000411,0.001919,0.000289,0.007527,0.001624,-0.000086,0.001535,...,0.046541,0.144585,0.000711,0.060722,0.046541,0.005629,0.000602,0.130451,0.073803,0.015648
1,-0.000099,0.004994,0.002619,-0.000099,-0.001009,-0.000708,-0.006405,-0.000930,0.017855,-0.000808,...,-0.010539,0.167404,-0.000113,0.064797,-0.010539,-0.001676,0.003632,-0.033756,0.013492,-0.002039
2,-0.003440,0.005432,0.006338,-0.000140,-0.001906,0.005881,-0.006969,-0.001254,0.014155,-0.001524,...,-0.022759,-0.013069,0.019748,0.003566,-0.022759,-0.002560,0.001169,-0.018788,-0.024893,-0.006774
3,0.002944,0.000618,0.000166,0.000157,0.001325,-0.000208,0.001654,0.001106,0.000324,0.001060,...,0.002993,0.037563,-0.000361,0.005273,0.002993,0.000224,0.001796,-0.000987,0.001188,0.003491
4,0.000921,0.003075,0.002318,0.000136,0.000636,0.001288,0.001324,0.000649,0.006511,0.000509,...,-0.014909,0.041459,0.004984,0.006107,-0.014909,-0.001494,0.002431,-0.036798,-0.014232,-0.001353

In [155]:
# Recommend the items with the highest predicted ratings

def recommend_items(userID, pivot_df_test, preds_df, num_recommendations):
      
    user_idx = userID-1 # index starts at 0
    
    # Get and sort the user's ratings
    sorted_user_ratings = pivot_df_test.iloc[user_idx].sort_values(ascending=False)
    #sorted_user_ratings
    sorted_user_predictions = preds_df.iloc[user_idx].sort_values(ascending=False)
    #sorted_user_predictions

    temp = pd.concat([sorted_user_ratings, sorted_user_predictions], axis=1)
    temp.index.name = 'Recommended Items'
    temp.columns = ['user_ratings', 'user_predictions']
    
    temp = temp.loc[temp.user_ratings == 0]   
    temp = temp.sort_values('user_predictions', ascending=False)
    print('\nBelow are the recommended items for user(user_id = {}):\n'.format(userID))
    print(temp.head(num_recommendations))

In [156]:
#Enter 'userID' and 'num_recommendations' for the user in test set
userID =  4
num_recommendations = 5
recommend_items(userID, pivot_df_test, preds_df, num_recommendations)

#Note dont go beyond 1466 for userID

Below are the recommended items for user(user_id = 4):

                   user_ratings  user_predictions
Recommended Items
B007WTAJTO                  0.0          0.414691
B003ES5ZUU                  0.0          0.363233
B002V88HFE                  0.0          0.218286
B001TH7GUU                  0.0          0.217438
B002WE6D44                  0.0          0.193165

C:\Users\sarth\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

In [157]:
# Actual ratings given by the users
final_ratings_matrix=pivot_df
final_ratings_matrix.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L2P3TRS,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8
user_index,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [158]:
# Average ACTUAL rating for each item
final_ratings_matrix.mean().head()

productId
0594481813    0.002046
0970407998    0.002729
0972683275    0.006821
1400501466    0.004093
1400501520    0.003411
dtype: float64

In [159]:
# Predicted ratings 
preds_df.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L2P3TRS,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8
0,0.003977,0.001258,-0.000205,0.000411,0.001919,0.000289,0.007527,0.001624,-0.000086,0.001535,...,0.046541,0.144585,0.000711,0.060722,0.046541,0.005629,0.000602,0.130451,0.073803,0.015648
1,-0.000099,0.004994,0.002619,-0.000099,-0.001009,-0.000708,-0.006405,-0.000930,0.017855,-0.000808,...,-0.010539,0.167404,-0.000113,0.064797,-0.010539,-0.001676,0.003632,-0.033756,0.013492,-0.002039
2,-0.003440,0.005432,0.006338,-0.000140,-0.001906,0.005881,-0.006969,-0.001254,0.014155,-0.001524,...,-0.022759,-0.013069,0.019748,0.003566,-0.022759,-0.002560,0.001169,-0.018788,-0.024893,-0.006774
3,0.002944,0.000618,0.000166,0.000157,0.001325,-0.000208,0.001654,0.001106,0.000324,0.001060,...,0.002993,0.037563,-0.000361,0.005273,0.002993,0.000224,0.001796,-0.000987,0.001188,0.003491
4,0.000921,0.003075,0.002318,0.000136,0.000636,0.001288,0.001324,0.000649,0.006511,0.000509,...,-0.014909,0.041459,0.004984,0.006107,-0.014909,-0.001494,0.002431,-0.036798,-0.014232,-0.001353

In [160]:
# Average PREDICTED rating for each item
preds_df.mean().head()

productId
0594481813    0.002504
0970407998    0.002435
0972683275    0.001445
1400501466    0.000241
1400501520    0.001258
dtype: float64

In [161]:
#creating data frame to calculate rmse score for trainset
rmse_df = pd.concat([final_ratings_matrix.mean(), preds_df.mean()], axis=1)
rmse_df.columns = ['Avg_actual_ratings', 'Avg_predicted_ratings']
print(rmse_df.shape)
rmse_df['item_index'] = np.arange(0, rmse_df.shape[0], 1)
rmse_df.head()

(37259, 2)

            Avg_actual_ratings  Avg_predicted_ratings  item_index
productId
0594481813            0.002046               0.002504           0
0970407998            0.002729               0.002435           1
0972683275            0.006821               0.001445           2
1400501466            0.004093               0.000241           3
1400501520            0.003411               0.001258           4

In [162]:
#RMSE for train set

RMSE = round((((rmse_df.Avg_actual_ratings - rmse_df.Avg_predicted_ratings) ** 2).mean() ** 0.5), 5)
print('\nRMSE SVD Model = {} \n'.format(RMSE))

RMSE SVD Model = 0.00343

In [163]:
# Actual ratings given by the users
final_ratings_matrix_test=pivot_df_test
final_ratings_matrix_test.head()

productId,0970407998,0972683275,1400501466,1400501776,1400532655,1400599997,1400698987,1685560148,787988002X,9043413585,...,B00L21HC7A,B00L2442H0,B00L26YDA4,B00L3YHF6O,B00L43HAY6,B00L5YZCCG,B00L8QCVL6,B00LA6T0LS,B00LBZ1Z7K,B00LGQ6HL8
user_index,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [164]:
# Average ACTUAL rating for each item
final_ratings_matrix_test.mean().head()

productId
0970407998    0.000682
0972683275    0.003411
1400501466    0.006139
1400501776    0.006139
1400532655    0.002046
dtype: float64

In [165]:
# Predicted ratings 
preds_df.head()

productId,0594481813,0970407998,0972683275,1400501466,1400501520,1400532620,1400532655,140053271X,1400599997,1400698987,...,B00L2P3TRS,B00L3YHF6O,B00L403O94,B00L8I6SFY,B00LA6T0LS,B00LED02VY,B00LGN7Y3G,B00LGQ6HL8,B00LI4ZZO8,B00LKG1MC8
0,0.003977,0.001258,-0.000205,0.000411,0.001919,0.000289,0.007527,0.001624,-0.000086,0.001535,...,0.046541,0.144585,0.000711,0.060722,0.046541,0.005629,0.000602,0.130451,0.073803,0.015648
1,-0.000099,0.004994,0.002619,-0.000099,-0.001009,-0.000708,-0.006405,-0.000930,0.017855,-0.000808,...,-0.010539,0.167404,-0.000113,0.064797,-0.010539,-0.001676,0.003632,-0.033756,0.013492,-0.002039
2,-0.003440,0.005432,0.006338,-0.000140,-0.001906,0.005881,-0.006969,-0.001254,0.014155,-0.001524,...,-0.022759,-0.013069,0.019748,0.003566,-0.022759,-0.002560,0.001169,-0.018788,-0.024893,-0.006774
3,0.002944,0.000618,0.000166,0.000157,0.001325,-0.000208,0.001654,0.001106,0.000324,0.001060,...,0.002993,0.037563,-0.000361,0.005273,0.002993,0.000224,0.001796,-0.000987,0.001188,0.003491
4,0.000921,0.003075,0.002318,0.000136,0.000636,0.001288,0.001324,0.000649,0.006511,0.000509,...,-0.014909,0.041459,0.004984,0.006107,-0.014909,-0.001494,0.002431,-0.036798,-0.014232,-0.001353

In [166]:
# Average PREDICTED rating for each item
preds_df.mean().head()

productId
0594481813    0.002504
0970407998    0.002435
0972683275    0.001445
1400501466    0.000241
1400501520    0.001258
dtype: float64

In [167]:
#creating data frame to calculate rmse score for test set
rmse_df = pd.concat([final_ratings_matrix_test.mean(), preds_df.mean()], axis=1)
rmse_df.columns = ['Avg_actual_ratings', 'Avg_predicted_ratings']
print(rmse_df.shape)
rmse_df['item_index'] = np.arange(0, rmse_df.shape[0], 1)
rmse_df.head()

(47155, 2)

C:\Users\sarth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

            Avg_actual_ratings  Avg_predicted_ratings  item_index
0594481813                 NaN               0.002504           0
0970407998            0.000682               0.002435           1
0972683275            0.003411               0.001445           2
1400501466            0.006139               0.000241           3
1400501520                 NaN               0.001258           4

In [168]:
#RMSE for test set

RMSE = round((((rmse_df.Avg_actual_ratings - rmse_df.Avg_predicted_ratings) ** 2).mean() ** 0.5), 5)
print('\nRMSE SVD Model = {} \n'.format(RMSE))

RMSE SVD Model = 0.01478

### Conclusions

***This is recommendations is more personalised and is better for users who have already are a part of a website. It helps to recommend product that a person likes. Thus it can help us to sell products in a websites. The RMSE score is also good its is very small for both test and train***

# Final conclusion
***Popularity based R.S shows same output for every user either in test or train set based on popluar items and collabortive R.S show different recommendation based on person to person, it show similar item that person may like and popularity based show all kind of item that are popular there are those item also that person may not like but are famous due to liking of other people thus it is not personalised. Thus when we put have new users when can recommend using popularity based RS and when that person has used or purchased lots of item then we can apply collaborative based RS***